.header {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/imgs/header/bg.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;

    position: relative;
}

.header__logo {
    position: relative;
    z-index: 10;
}

.header__abstract--left {
    position: absolute;
    left: 0;
    top: 0;
}

.header__abstract--right {
    position: absolute;
    right: 0;
    top: 0;
}

.header__hero {
    font-size: 1.25rem;
    line-height: 125%;
    padding: 1rem 0px;
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    font-size: 1rem;
    padding-right: 0.5rem;
}

.intro__picture {
    height: fit-content;
}

.intro__citation {
    font-family: "Italianno", sans-serif;
    font-size: 1.25rem;
}

.info {
    padding: 1rem 0.5rem;

    position: relative;
}

.info__abstract {
    position: absolute;
    right: 0;
    top: -20%;
}

.info__dresscode--sub {
    font-size: 0.8em;
}

.info__present--sub {
    font-size: 0.8em;
}

.presence {
    padding: 0px 0.5rem;
    margin-bottom: 1rem;
}

.presence__title {
    margin: 0;
}

.presence__subtitle {
    margin: 0;
    margin-top: 0.25rem;
}

.presence__container {
    display: flex;
    gap: 0.75rem;
}

.konguinho {
    flex: 2;
    height: fit-content;
    align-self: flex-end;
}

.presence__form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 3;
}

.presence__form > label {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
}

.presence__form > label > input,
.presence__form > label > select {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    margin-top: 0.25rem;
    outline: none;
    color: var(--primary-color);
}

.presence__form > label > span {
    font-size: 0.8em;
}

.presence__confirm {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    border: 0px;
    width: fit-content;
    border-radius: 0.25rem;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 1rem 0.5rem;
}

.footer__phrase {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
}

.footer__built-with {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;

    font-size: 0.8em;
}

.footer__built-with > a {
    text-decoration: none;
}
